<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Items</title>
</head>

<body>
    <h1>Daftar Items</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop melalui daftar items dan menampilkannya dalam tabel -->
            <tr th:each="items : ${items}">
                <td th:text="${items.id}"></td>
                <td th:text="${items.kategori}"></td>
                <td th:text="${items.nomorSeri}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
